<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV de Roberto Solís González</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }
        .container {
            max-width: 800px;
            margin: auto;
        }
        h1, h2 {
            color: #333;
        }
        .contact-info, .section {
            margin-bottom: 20px;
        }
        .section-title {
            font-weight: bold;
            border-bottom: 2px solid #333;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Roberto Solís González</h1>
        <div class="contact-info">
            <p>CdMx Alvaro Obregón | <a href="mailto:solisgroberto@gmail.com">solisgroberto@gmail.com</a> | 55 39662090 | <a href="https://www.linkedin.com/in/roberto-sol%C3%ADs-gonz%C3%A1lez-9a2ba611b/">linkedin.com/in/roberto-solís-gonzález</a></p>
            <p></p>
        </div>

        <div class="section">
            <h2 class="section-title">Resumen profesional</h2>
        </li>Maestro en ingeniería con experiencia en gobernanza de datos, desarrollo de sistemas de información.</li>
        </div>

        <div class="section">
            <h2 class="section-title">Educación</h2>
            <li>Maestría en Ingeniería | UNAM | Mención Honorífica | becas CONACYT y Telmex | Cédula 6514055</li>
            <li>Licenciatura en Actuaría | UNAM | Cédula 4680278</li>
        </div>

        <div class="section">
            <h2 class="section-title">Experiencia</h2>
            <ul>
                <li><strong>Subdirector de área, Mejoredu (Marzo 2021 – Actual)</strong>
                    <ul>
                        <li>Diseñé las políticas y estándares de gobernanza para la generación, adquisición, integración y gestión de datos.</li>
                        <li>Coordiné los procesos de diseño de esquemas de base de datos del Sistema de Información Si-Mejoredu.</li>
                    </ul>
                </li>
                <li><strong>Líder de proyecto, INE (Sep 2018 – Feb 2021)</strong>
                    <ul>
                        <li>Supervisé el desarrollo del Sistema de Información de Jornada Electoral (SIJE) y Sistema de Conteo Rápido.</li>
                        <li>Realicé el Estudio muestral sobre la participación ciudadana en las elecciones federales de 2018.</li>
                    </ul>
                </li>
                <li><strong>Jefe de proyecto, INEE (Dic 2005 – Sep 2017)</strong>
                    <ul>
                        <li>Diseñé la arquitectura tecnológica del Sistema Integral de Resultados de las Evaluaciones SIRE.</li>
                        <li>Desarrollé los Informes PISA 2006, 2009 y 2012 en México Y SERCE de la UNESCO.</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="section">
            <h2 class="section-title">Publicaciones</h2>
            <ul>
                <li>Breve análisis de algunos aspectos normativos y técnicos de la evaluación del desempeño docente para la permanencia del Servicio Profesional Docente 2019.</li>
                <small>2019. Castro Porcayo, D. y Solís González, R., <em>Tendencias Pedagógicas</em>, Universidad Autónoma de Madrid. <a href="https://doi.org/10.15366/tp2019.34.012">https://doi.org/10.15366/tp2019.34.012</a></small>

                <li>Planeación en Centros de Investigación y Desarrollo Tecnológico (CIyDT), 2019</li>
                <small>López, E., Castillo, N., Valdés. M, Solís, R.,  <em>Tendencias Pedagógicas</em>, XVIII Conferencia ALTEC. Medillin Colombia  <a href="https://repositorio.altecasociacion.org/handle/20.500.13048/1819">https://repositorio.altecasociacion.org/handle/20.500.13048/1819</a></small>

                <li>Impacto de la reprobación en primaria y secundaria sobre la evaluación PISA, 2009</li>
                <small>Canales, D. Solís, R. (2009)  <em>Tendencias Pedagógicas</em>, X Congreso Nacional de Investigación Educativa COMIE  </small>
                <small><a href="https://www.comie.org.mx/congreso/memoriaelectronica/v10/pdf/area_tematica_10/ponencias/1113-F.pdf">https://www.comie.org.mx/reprobación</a></small>
            </ul>
        </div>

        <div class="section">
            <h2 class="section-title">Cursos</h2>
            <ul>
                <li>Gobernanza de datos e innovaciones digitales en los gobiernos, CLAD 2024</li>
                <li>Gobierno de Datos e Información, ITAM 2023</li>
                <li>Scrum Foundation Professional Certificate -SFPC CertiProf, 2022</li>
            </ul>
        </div>

        <div class="section">
            <h2 class="section-title">Tecnologías</h2>
            </li>Lenguajes: Python, R, Visual Basic</li>
            </li>Bases de datos: PostgreSQL, DBeaver, Enterprise Architect, DAMA</li>
            </li>Tecnologías de visualización: PowerBI, Django</li>
        </div>
    </div>
</body>
</html>
